* {
  align-items: center;
}
.App {
  text-align: center;
 display: flex;
 flex-direction: column;

}

.nav-div{
  width: 100%;
}

.navbar {
  width: 100%;
}

.row-fluid {
  display: flex;
}

.card {
  width: 18rem;
  padding: 10px;
  border: solid black;
  margin: 10px;
}
